<section class="section">
      <div class="tabs">
        <div class="bar-area">
        <div class="scrollbar">
        <ul class="tab-list tab-list-icons" role="tablist">
          <li class="tab-item builder-tab-item" role="presentation">
            <button class="tab-link builder-tab-link" id="tab-b-link" role="tab" aria-controls="tab-b" aria-selected="true" aria-label="Builder">BUILDER</button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-01-link" role="tab" aria-controls="tab-01" aria-selected="false" aria-label="Mario"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/mario.png" alt="Mario"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-02-link" role="tab" aria-controls="tab-02" aria-selected="false" aria-label="Luigi"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/luigi.png" alt="Luigi"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-03-link" role="tab" aria-controls="tab-03" aria-selected="false" aria-label="Bowser"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/bowser.png" alt="Bowser"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-04-link" role="tab" aria-controls="tab-04" aria-selected="false" aria-label="Peach"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/peach.png" alt="Peach"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-05-link" role="tab" aria-controls="tab-05" aria-selected="false" aria-label="Rosalina"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/rosalina.png" alt="Rosalina"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-06-link" role="tab" aria-controls="tab-06" aria-selected="false" aria-label="Toad"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/toad.png" alt="Toad"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-07-link" role="tab" aria-controls="tab-07" aria-selected="false" aria-label="Yoshi"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/yoshi.png" alt="Yoshi"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-08-link" role="tab" aria-controls="tab-08" aria-selected="false" aria-label="Donkey Kong"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/dk.png" alt="Donkey Kong"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-09-link" role="tab" aria-controls="tab-09" aria-selected="false" aria-label="Wario"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/wario.png" alt="Wario"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-10-link" role="tab" aria-controls="tab-10" aria-selected="false" aria-label="Waluigi"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/waluigi.png" alt="Waluigi"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-11-link" role="tab" aria-controls="tab-11" aria-selected="false" aria-label="Shy Guy"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/shyguy.png" alt="Shy Guy"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-12-link" role="tab" aria-controls="tab-12" aria-selected="false" aria-label="Daisy"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/daisy.png" alt="Daisy"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-13-link" role="tab" aria-controls="tab-13" aria-selected="false" aria-label="Pauline"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/pauline.png" alt="Pauline"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-14-link" role="tab" aria-controls="tab-14" aria-selected="false" aria-label="Diddy Kong"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/diddy.png" alt="Diddy Kong"></button>
          </li>
          <li class="tab-item icon-tab-item" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-15-link" role="tab" aria-controls="tab-15" aria-selected="false" aria-label="Bowser Jr"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/bowserjr.png" alt="Bowser Jr"></button>
          </li>
          <li class="tab-item icon-tab-item tab-item-last" role="presentation">
            <button class="tab-link tab-link-icon" id="tab-16-link" role="tab" aria-controls="tab-16" aria-selected="false" aria-label="Birdo"><img class="tab-char-icon" src="../assets/gear-builder/images/characters-icons/birdo.png" alt="Birdo"></button>
          </li>
        </ul>
        </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane" id="tab-b" role="tabpanel" aria-labelledby="tab-b-link">
            <div class="container">
              <div class="build-grid">
                  <div class="form-group col-sm-8">
                    <div id="myMultiselect" class="multiselect">
                      <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
                        <select class="form-select">
                          <option>Select Character</option>
                        </select>
                        <div class="overSelect"></div>
                      </div>
                      <div id="mySelectOptions">
                        <label for="selectall"><input type="checkbox" id="selectall" class="selectall" onchange="checkboxStatusChange()" value="none" />Select All</label>
                        <label for="one"><input type="checkbox" id="one" class="checkbox" onchange="checkboxStatusChange()" value="Mario" />Mario</label>
                        <label for="two"><input type="checkbox" id="two" class="checkbox" onchange="checkboxStatusChange()" value="Luigi" />Luigi</label>
                        <label for="three"><input type="checkbox" id="three" class="checkbox" onchange="checkboxStatusChange()" value="Bowser" />Bowser</label>
                        <label for="four"><input type="checkbox" id="four" class="checkbox" onchange="checkboxStatusChange()" value="Peach" />Peach</label>
                        <label for="five"><input type="checkbox" id="five" class="checkbox" onchange="checkboxStatusChange()" value="Rosalina" />Rosalina</label>
                        <label for="six"><input type="checkbox" id="six" class="checkbox" onchange="checkboxStatusChange()" value="Toad" />Toad</label>
                        <label for="seven"><input type="checkbox" id="seven" class="checkbox" onchange="checkboxStatusChange()" value="Yoshi" />Yoshi</label>
                        <label for="eight"><input type="checkbox" id="eight" class="checkbox" onchange="checkboxStatusChange()" value="DK" />DK</label>
                        <label for="nine"><input type="checkbox" id="nine" class="checkbox" onchange="checkboxStatusChange()" value="Wario" />Wario</label>
                        <label for="ten"><input type="checkbox" id="ten" class="checkbox" onchange="checkboxStatusChange()" value="Waluigi" />Waluigi</label>
                        <label for="eleven"><input type="checkbox" id="eleven" class="checkbox" onchange="checkboxStatusChange()" value="Shy Guy" />Shy Guy</label>
                        <label for="twelve"><input type="checkbox" id="twelve" class="checkbox" onchange="checkboxStatusChange()" value="Daisy" />Daisy</label>
                        <label for="thirteen"><input type="checkbox" id="thirteen" class="checkbox" onchange="checkboxStatusChange()" value="Pauline" />Pauline</label>
                        <label for="fourteen"><input type="checkbox" id="fourteen" class="checkbox" onchange="checkboxStatusChange()" value="Diddy Kong" />Diddy Kong</label>
                        <label for="fifteen"><input type="checkbox" id="fifteen" class="checkbox" onchange="checkboxStatusChange()" value="Bowser Jr" />Bowser Jr.</label>
                        <label for="sixteen"><input type="checkbox" id="sixteen" class="checkbox" onchange="checkboxStatusChange()" value="Birdo" />Birdo</label>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper">
                    <div class="stat-input">
                      <div class="field min">
                        <div></div>
                        <input type="number" class="input-min" value="1" id="range1">
                      </div>
                      <img class="pic" src="../assets/gear-builder/images/icons/strength.png">
                      <div class="field max">
                        <div></div>
                        <input type="number" class="input-max" value="25" id="range2">
                      </div>
                    </div>
                    <div class="slider">
                      <div class="progress"></div>
                    </div>
                    <div class="range-input" id="strslider">
                      <input type="range" class="sliders" min="1" max="25" value="1" id="strmin">
                      <input type="range" class="sliders" min="1" max="25" value="25" id="strmax">
                    </div>
                  </div>
                  <div class="wrapper">
                    <div class="stat-input">
                      <div class="field min">
                        <div></div>
                        <input type="number" class="input-min" value="1" id="range3">
                      </div>
                      <img class="pic" src="../assets/gear-builder/images/icons/speed.png">
                      <div class="field max">
                        <div></div>
                        <input type="number" class="input-max" value="25" id="range4">
                      </div>
                    </div>
                    <div class="slider">
                      <div class="progress"></div>
                    </div>
                    <div class="range-input" id="spdslider">
                      <input type="range" class="sliders" min="1" max="25" value="1" id="spdmin">
                      <input type="range" class="sliders" min="1" max="25" value="25" id="spdmax">
                    </div>
                  </div>
              </div>
              <div class="build-grid">
                <div class="wrapper">
                  <div class="stat-input">
                    <div class="field min">
                      <div></div>
                      <input type="number" class="input-min" value="1" id="range5">
                    </div>
                    <img class="pic" src="../assets/gear-builder/images/icons/shot.png">
                    <div class="field max">
                      <div></div>
                      <input type="number" class="input-max" value="25" id="range6">
                    </div>
                  </div>
                  <div class="slider">
                    <div class="progress"></div>
                  </div>
                  <div class="range-input" id="shotslider">
                    <input type="range" class="sliders" min="1" max="25" value="1" id="shotmin">
                    <input type="range" class="sliders" min="1" max="25" value="25" id="shotmax">
                  </div>
                </div>
                <div class="wrapper">
                  <div class="stat-input">
                    <div class="field min">
                      <div></div>
                      <input type="number" class="input-min" value="1" id="range7">
                    </div>
                    <img class="pic" src="../assets/gear-builder/images/icons/pass.png">
                    <div class="field max">
                      <div></div>
                      <input type="number" class="input-max" value="25" id="range8">
                    </div>
                  </div>
                  <div class="slider">
                    <div class="progress"></div>
                  </div>
                  <div class="range-input" id="passslider">
                    <input type="range" class="sliders" min="1" max="25" value="1" id="passmin">
                    <input type="range" class="sliders" min="1" max="25" value="25" id="passmax">
                  </div>
                </div>
                <div class="wrapper">
                  <div class="stat-input">
                    <div class="field min">
                      <div></div>
                      <input type="number" class="input-min" value="1" id="range9">
                    </div>
                    <img class="pic" src="../assets/gear-builder/images/icons/tech.png">
                    <div class="field max">
                      <div></div>
                      <input type="number" class="input-max" value="25" id="range10">
                    </div>
                  </div>
                  <div class="slider">
                    <div class="progress"></div>
                  </div>
                  <div class="range-input" id="techslider">
                    <input type="range" class="sliders" min="1" max="25" value="1" id="techmin">
                    <input type="range" class="sliders" min="1" max="25" value="25" id="techmax">
                  </div>
                </div>
              </div>
              <button class="submit">Find Builds</button>
              <div class="table">
                <table class="build-table" id="table-b">
                  <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                  </colgroup>
                  <thead class="table-header">
                    <tr style="height: 40px;">
                      <th class="cell">Character</th>
                      <th class="cell">Build</th>
                      <th class="cell strcell"></th>
                      <th class="cell spdcell"></th>
                      <th class="cell shotcell"></th>
                      <th class="cell passcell"></th>
                      <th class="cell techcell"></th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="menu">
                <div class="menubutton"></div>
                <div class="menu-options">
                  <c>Use this menu to save builds you create on character tabs</c>
                  <!--<c>More options coming soon!<br><br>Current menu options have limited browser support.</c>-->
                  <!--<c>Add to Team<br>by clicking on a name or build number</c>-->
                  <!--<c>Copy as Text<br>by clicking on a build stat</c>-->
                </div>
              </div>
              <a id="results" class="results"></a>
            </div>
          </div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-01" role="tabpanel" aria-labelledby="tab-01-link" data-pane-load-state="idle" data-character-id="1"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-02" role="tabpanel" aria-labelledby="tab-02-link" data-pane-load-state="idle" data-character-id="2"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-03" role="tabpanel" aria-labelledby="tab-03-link" data-pane-load-state="idle" data-character-id="3"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-04" role="tabpanel" aria-labelledby="tab-04-link" data-pane-load-state="idle" data-character-id="4"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-05" role="tabpanel" aria-labelledby="tab-05-link" data-pane-load-state="idle" data-character-id="5"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-06" role="tabpanel" aria-labelledby="tab-06-link" data-pane-load-state="idle" data-character-id="6"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-07" role="tabpanel" aria-labelledby="tab-07-link" data-pane-load-state="idle" data-character-id="7"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-08" role="tabpanel" aria-labelledby="tab-08-link" data-pane-load-state="idle" data-character-id="8"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-09" role="tabpanel" aria-labelledby="tab-09-link" data-pane-load-state="idle" data-character-id="9"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-10" role="tabpanel" aria-labelledby="tab-10-link" data-pane-load-state="idle" data-character-id="10"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-11" role="tabpanel" aria-labelledby="tab-11-link" data-pane-load-state="idle" data-character-id="11"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-12" role="tabpanel" aria-labelledby="tab-12-link" data-pane-load-state="idle" data-character-id="12"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-13" role="tabpanel" aria-labelledby="tab-13-link" data-pane-load-state="idle" data-character-id="13"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-14" role="tabpanel" aria-labelledby="tab-14-link" data-pane-load-state="idle" data-character-id="14"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-15" role="tabpanel" aria-labelledby="tab-15-link" data-pane-load-state="idle" data-character-id="15"></div>
          <div class="tab-pane hidden msbl-gear-pane-placeholder" id="tab-16" role="tabpanel" aria-labelledby="tab-16-link" data-pane-load-state="idle" data-character-id="16"></div>

        </div>
      </div>
    </section>
