          <div class="tab-pane hidden" id="tab-16" role="tabpanel" aria-labelledby="tab-16-link">
            <div class="container">
              <div class="table hidden">
                <table class="gear-table" id="table16">
                  <colgroup>
                    <col width="20%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                  </colgroup>
                  <thead class="table-header">
                    <tr style="height: 40px;">
                      <th class="cell">Birdo</th>
                      <th class="cell">Strength</th>
                      <th class="cell">Speed</th>
                      <th class="cell">Shot</th>
                      <th class="cell">Pass</th>
                      <th class="cell">Tech</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr class="first-row" style="height: 40px;">
                      <td class="buildcell first-column" id="Bi" builddata="0000"></td>
                      <td class="cell">9</td>
                      <td class="cell">10</td>
                      <td class="cell">18</td>
                      <td class="cell">9</td>
                      <td class="cell">17</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Base</td>
                      <td class="cell">9</td>
                      <td class="cell">10</td>
                      <td class="cell">18</td>
                      <td class="cell">9</td>
                      <td class="cell">17</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Head</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Arms</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Body</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Legs</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="buildcard birdo" id="card16">
                <div class="cardpic">
                  <img src="../assets/gear-builder/images/characters/Birdo.png">
                  <div class="cardchar birdo">BIRDO</div>
                  <div class="cardbuild birdo">0000</div>
                </div>
                <div class="cardstat">
                  <div class="strengthstat">
                    <div class="stat str">9</div>
                  </div>
                  <div class="speedstat">
                    <div class="stat spe">10</div>
                  </div>
                  <div class="shotstat">
                    <div class="stat sho">18</div>
                  </div>
                  <div class="passstat">
                    <div class="stat pas">9</div>
                  </div>
                  <div class="techstat">
                    <div class="stat tec">17</div>
                  </div>
                </div>
                <div class="statbar">
                  <div class="strengthbar">
                    <img class="bar str" src="../assets/gear-builder/images/stats/9.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/strength.png">
                  </div>
                  <div class="speedbar">
                    <img class="bar spe" src="../assets/gear-builder/images/stats/10.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/speed.png">
                  </div>
                  <div class="shotbar">
                    <img class="bar sho" src="../assets/gear-builder/images/stats/18.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/shot.png">
                  </div>
                  <div class="passbar">
                    <img class="bar pas" src="../assets/gear-builder/images/stats/9.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/pass.png">
                  </div>
                  <div class="techbar">
                    <img class="bar tec" src="../assets/gear-builder/images/stats/17.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/tech.png">
                    <div class="tooltip birdo" id="tip16">Speed with Ball: 4.9</div>
                  </div>
                </div>
              </div>
              <div class="button-div">
              <div class="button-grid">
                <div class="button-list button-list-1">
                <div class="button-container">
                  <button id="btn1500" class="head button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1501" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1502" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1503" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1504" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1505" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1506" class="head button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1507" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1508" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1509" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-2">
                <div class="button-container">
                  <button id="btn1520" class="arms button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1521" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1522" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1523" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1524" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1525" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1526" class="arms button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1527" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1528" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1529" class="arms button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-3">
                <div class="button-container">
                  <button id="btn1540" class="body button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1541" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1542" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1543" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1544" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1545" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1546" class="body button">
                    <div class="arrows">
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1547" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1548" class="body button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1549" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-4">
                <div class="button-container">
                  <button id="btn1560" class="legs button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1561" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1562" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1563" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1564" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1565" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1566" class="legs button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1567" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1568" class="legs button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1569" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
              </div>
              </div>
              </div>
            </div>
            <div class="menu">
              <div class="menu-options">
                <!--<b class="Add">Add to Team</b>-->
                <b class="copytext">Copy as Text</b>
                <b class="copypic">Copy as Image</b>
                <b class="savepic">Save as Image</b>
              </div>
            </div>
          </div>
