          <div class="tab-pane hidden" id="tab-12" role="tabpanel" aria-labelledby="tab-12-link">
            <div class="container">
              <div class="table hidden">
                <table class="gear-table" id="table12">
                  <colgroup>
                    <col width="20%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                  </colgroup>
                  <thead class="table-header">
                    <tr style="height: 40px;">
                      <th class="cell">Daisy</th>
                      <th class="cell">Strength</th>
                      <th class="cell">Speed</th>
                      <th class="cell">Shot</th>
                      <th class="cell">Pass</th>
                      <th class="cell">Tech</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr class="first-row" style="height: 40px;">
                      <td class="buildcell first-column" id="Da" builddata="0000"></td>
                      <td class="cell">13</td>
                      <td class="cell">9</td>
                      <td class="cell">10</td>
                      <td class="cell">13</td>
                      <td class="cell">18</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Base</td>
                      <td class="cell">13</td>
                      <td class="cell">9</td>
                      <td class="cell">10</td>
                      <td class="cell">13</td>
                      <td class="cell">18</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Head</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Arms</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Body</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Legs</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="buildcard daisy" id="card12">
                <div class="cardpic">
                  <img src="../assets/gear-builder/images/characters/Daisy.png">
                  <div class="cardchar daisy">DAISY</div>
                  <div class="cardbuild daisy">0000</div>
                </div>
                <div class="cardstat">
                  <div class="strengthstat">
                    <div class="stat str">13</div>
                  </div>
                  <div class="speedstat">
                    <div class="stat spe">9</div>
                  </div>
                  <div class="shotstat">
                    <div class="stat sho">10</div>
                  </div>
                  <div class="passstat">
                    <div class="stat pas">13</div>
                  </div>
                  <div class="techstat">
                    <div class="stat tec">18</div>
                  </div>
                </div>
                <div class="statbar">
                  <div class="strengthbar">
                    <img class="bar str" src="../assets/gear-builder/images/stats/13.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/strength.png">
                  </div>
                  <div class="speedbar">
                    <img class="bar spe" src="../assets/gear-builder/images/stats/9.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/speed.png">
                  </div>
                  <div class="shotbar">
                    <img class="bar sho" src="../assets/gear-builder/images/stats/10.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/shot.png">
                  </div>
                  <div class="passbar">
                    <img class="bar pas" src="../assets/gear-builder/images/stats/13.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/pass.png">
                  </div>
                  <div class="techbar">
                    <img class="bar tec" src="../assets/gear-builder/images/stats/18.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/tech.png">
                    <div class="tooltip daisy" id="tip12">Speed with Ball: 4.3</div>
                  </div>
                </div>
              </div>
              <div class="button-div">
              <div class="button-grid">
                <div class="button-list button-list-1">
                <div class="button-container">
                  <button id="btn1100" class="head button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1101" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1102" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1103" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1104" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1105" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1106" class="head button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1107" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1108" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1109" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-2">
                <div class="button-container">
                  <button id="btn1120" class="arms button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1121" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1122" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1123" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1124" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1125" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1126" class="arms button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1127" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1128" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1129" class="arms button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-3">
                <div class="button-container">
                  <button id="btn1140" class="body button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1141" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1142" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1143" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1144" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1145" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1146" class="body button">
                    <div class="arrows">
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1147" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1148" class="body button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1149" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-4">
                <div class="button-container">
                  <button id="btn1160" class="legs button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn1161" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn1162" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn1163" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn1164" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn1165" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn1166" class="legs button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn1167" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn1168" class="legs button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn1169" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
              </div>
              </div>
              </div>
            </div>
            <div class="menu">
              <div class="menu-options">
                <!--<b class="Add">Add to Team</b>-->
                <b class="copytext">Copy as Text</b>
                <b class="copypic">Copy as Image</b>
                <b class="savepic">Save as Image</b>
              </div>
            </div>
          </div>
