          <div class="tab-pane hidden" id="tab-02" role="tabpanel" aria-labelledby="tab-02-link">
            <div class="container">
              <div class="table hidden">
                <table class="gear-table" id="table02">
                  <colgroup>
                    <col width="20%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                  </colgroup>
                  <thead class="table-header">
                    <tr style="height: 40px;">
                      <th class="cell">Luigi</th>
                      <th class="cell">Strength</th>
                      <th class="cell">Speed</th>
                      <th class="cell">Shot</th>
                      <th class="cell">Pass</th>
                      <th class="cell">Tech</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr class="first-row" style="height: 40px;">
                      <td class="buildcell first-column" id="Lu" builddata="0000"></td>
                      <td class="cell">11</td>
                      <td class="cell">11</td>
                      <td class="cell">10</td>
                      <td class="cell">14</td>
                      <td class="cell">17</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Base</td>
                      <td class="cell">11</td>
                      <td class="cell">11</td>
                      <td class="cell">10</td>
                      <td class="cell">14</td>
                      <td class="cell">17</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Head</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Arms</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Body</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Legs</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="buildcard luigi" id="card2">
                <div class="cardpic">
                  <img src="../assets/gear-builder/images/characters/Luigi.png">
                  <div class="cardchar luigi">LUIGI</div>
                  <div class="cardbuild luigi">0000</div>
                </div>
                <div class="cardstat">
                  <div class="strengthstat">
                    <div class="stat str">11</div>
                  </div>
                  <div class="speedstat">
                    <div class="stat spe">11</div>
                  </div>
                  <div class="shotstat">
                    <div class="stat sho">10</div>
                  </div>
                  <div class="passstat">
                    <div class="stat pas">14</div>
                  </div>
                  <div class="techstat">
                    <div class="stat tec">17</div>
                  </div>
                </div>
                <div class="statbar">
                  <div class="strengthbar">
                    <img class="bar str" src="../assets/gear-builder/images/stats/11.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/strength.png">
                  </div>
                  <div class="speedbar">
                    <img class="bar spe" src="../assets/gear-builder/images/stats/11.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/speed.png">
                  </div>
                  <div class="shotbar">
                    <img class="bar sho" src="../assets/gear-builder/images/stats/10.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/shot.png">
                  </div>
                  <div class="passbar">
                    <img class="bar pas" src="../assets/gear-builder/images/stats/14.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/pass.png">
                  </div>
                  <div class="techbar">
                    <img class="bar tec" src="../assets/gear-builder/images/stats/17.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/tech.png">
                    <div class="tooltip luigi" id="tip2">Speed with Ball: 5.7</div>
                  </div>
                </div>
              </div>
              <div class="button-div">
              <div class="button-grid">
                <div class="button-list button-list-1">
                <div class="button-container">
                  <button id="btn100" class="head button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn101" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn102" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn103" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn104" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn105" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn106" class="head button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn107" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn108" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn109" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-2">
                <div class="button-container">
                  <button id="btn120" class="arms button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn121" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn122" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn123" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn124" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn125" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn126" class="arms button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn127" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn128" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn129" class="arms button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-3">
                <div class="button-container">
                  <button id="btn140" class="body button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn141" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn142" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn143" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn144" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn145" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn146" class="body button">
                    <div class="arrows">
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn147" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn148" class="body button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn149" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-4">
                <div class="button-container">
                  <button id="btn160" class="legs button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn161" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn162" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn163" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn164" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn165" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn166" class="legs button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn167" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn168" class="legs button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn169" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
              </div>
              </div>
              </div>
            </div>
            <div class="menu">
              <div class="menu-options">
                <!--<b class="Add">Add to Team</b>-->
                <b class="copytext">Copy as Text</b>
                <b class="copypic">Copy as Image</b>
                <b class="savepic">Save as Image</b>
              </div>
            </div>
          </div>
