          <div class="tab-pane hidden" id="tab-10" role="tabpanel" aria-labelledby="tab-10-link">
            <div class="container">
              <div class="table hidden">
                <table class="gear-table" id="table10">
                  <colgroup>
                    <col width="20%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                    <col width="16%">
                  </colgroup>
                  <thead class="table-header">
                    <tr style="height: 40px;">
                      <th class="cell">Waluigi</th>
                      <th class="cell">Strength</th>
                      <th class="cell">Speed</th>
                      <th class="cell">Shot</th>
                      <th class="cell">Pass</th>
                      <th class="cell">Tech</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr class="first-row" style="height: 40px;">
                      <td class="buildcell first-column" id="Wl" builddata="0000"></td>
                      <td class="cell">15</td>
                      <td class="cell">16</td>
                      <td class="cell">9</td>
                      <td class="cell">9</td>
                      <td class="cell">14</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Base</td>
                      <td class="cell">15</td>
                      <td class="cell">16</td>
                      <td class="cell">9</td>
                      <td class="cell">9</td>
                      <td class="cell">14</td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Head</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Arms</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Body</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                    <tr class="hidrow" style="height: 40px;">
                      <td class="cell first-column">Legs</td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                      <td class="cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="buildcard waluigi" id="card10">
                <div class="cardpic">
                  <img src="../assets/gear-builder/images/characters/Waluigi.png">
                  <div class="cardchar waluigi">WALUIGI</div>
                  <div class="cardbuild waluigi">0000</div>
                </div>
                <div class="cardstat">
                  <div class="strengthstat">
                    <div class="stat str">15</div>
                  </div>
                  <div class="speedstat">
                    <div class="stat spe">16</div>
                  </div>
                  <div class="shotstat">
                    <div class="stat sho">9</div>
                  </div>
                  <div class="passstat">
                    <div class="stat pas">9</div>
                  </div>
                  <div class="techstat">
                    <div class="stat tec">14</div>
                  </div>
                </div>
                <div class="statbar">
                  <div class="strengthbar">
                    <img class="bar str" src="../assets/gear-builder/images/stats/15.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/strength.png">
                  </div>
                  <div class="speedbar">
                    <img class="bar spe" src="../assets/gear-builder/images/stats/16.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/speed.png">
                  </div>
                  <div class="shotbar">
                    <img class="bar sho" src="../assets/gear-builder/images/stats/9.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/shot.png">
                  </div>
                  <div class="passbar">
                    <img class="bar pas" src="../assets/gear-builder/images/stats/9.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/pass.png">
                  </div>
                  <div class="techbar">
                    <img class="bar tec" src="../assets/gear-builder/images/stats/14.png">
                    <img class="baricon" src="../assets/gear-builder/images/icons/tech.png">
                    <div class="tooltip waluigi" id="tip10">Speed with Ball: 9.0</div>
                  </div>
                </div>
              </div>
              <div class="button-div">
              <div class="button-grid">
                <div class="button-list button-list-1">
                <div class="button-container">
                  <button id="btn900" class="head button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn901" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn902" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn903" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn904" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn905" class="head button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn906" class="head button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn907" class="head button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn908" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn909" class="head button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-2">
                <div class="button-container">
                  <button id="btn920" class="arms button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn921" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn922" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn923" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn924" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn925" class="arms button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn926" class="arms button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up4"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn927" class="arms button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn928" class="arms button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn929" class="arms button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-3">
                <div class="button-container">
                  <button id="btn940" class="body button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn941" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn942" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn943" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn944" class="body button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn945" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn946" class="body button">
                    <div class="arrows">
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn947" class="body button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn948" class="body button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="up2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn949" class="body button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
                </div>
                <div class="button-list button-list-4">
                <div class="button-container">
                  <button id="btn960" class="legs button activebutton">
                    <div class="arrows">
                    </div>
                    <div class="btnname">No Gear</div>
                  </button>
                  <button id="btn961" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Muscle</div>
                  </button>
                  <button id="btn962" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Turbo</div>
                  </button>
                  <button id="btn963" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Cannon</div>
                  </button>
                  <button id="btn964" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                      <i class="equal">-</i>
                    </div>
                    <div class="btnname">Chain</div>
                  </button>
                  <button id="btn965" class="legs button">
                    <div class="arrows">
                      <i class="equal">-</i>
                      <i class="equal">-</i>
                      <i class="down2"></i>
                      <i class="equal">-</i>
                      <i class="up2"></i>
                    </div>
                    <div class="btnname">Trick</div>
                  </button>
                  <button id="btn966" class="legs button">
                    <div class="arrows">
                      <i class="down1"></i>
                      <i class="up4"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Bushido</div>
                  </button>
                  <button id="btn967" class="legs button">
                    <div class="arrows">
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down1"></i>
                      <i class="down1"></i>
                    </div>
                    <div class="btnname">Knight</div>
                  </button>
                  <button id="btn968" class="legs button">
                    <div class="arrows">
                      <i class="up1"></i>
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="up1"></i>
                      <i class="down2"></i>
                    </div>
                    <div class="btnname">Barrel</div>
                  </button>
                  <button id="btn969" class="legs button">
                    <div class="arrows">
                      <i class="down2"></i>
                      <i class="up2"></i>
                      <i class="down2"></i>
                      <i class="up1"></i>
                      <i class="up1"></i>
                    </div>
                    <div class="btnname">Shellfish</div>
                  </button>
                </div>
              </div>
              </div>
              </div>
            </div>
            <div class="menu">
              <div class="menu-options">
                <!--<b class="Add">Add to Team</b>-->
                <b class="copytext">Copy as Text</b>
                <b class="copypic">Copy as Image</b>
                <b class="savepic">Save as Image</b>
              </div>
            </div>
          </div>
